"""
Config File Sample
"""
# 本地启动端口
# 查看端口是否被占用 netstat -ant|grep 9551
DEF_LOCAL_PORT = 9551

# 是否使用无头浏览器模式
DEF_USE_HEADLESS = True

# 调试模式
DEF_DEBUG = True

# 浏览器路径，置空时取 Chrome 的默认路径
# DEF_PATH_BROWSER = '/Applications/Google Chrome.app/Contents/MacOS/Google Chrome' # noqa
DEF_PATH_BROWSER = ''

# DEF_PATH_USER_DATA = '/Users/{MAC_NAME}/Library/Application Support/Google/Chrome' # noqa
DEF_PATH_USER_DATA = '/opt/app/chain/auto_drissionpage/chrome_profile'
DEF_PWD = 'default_password@'

DEF_IP_FULL = 'The number of times this ip sent today is full, please try again tomorrow' # noqa
DEF_CHECKIN = 'Already checked-in'

DEF_MSG_SUCCESS = 'SUCCESS'
DEF_MSG_FAIL = 'FAIL'
DEF_MSG_IP_FULL = 'IP IS FULL'
DEF_MSG_BALANCE_ERR = 'INSUFFICIENT BALANCE'

DEF_NUM_NFT = 10
DEF_NUM_TRY_CHECKIN = 5
DEF_NUM_TRY_PURCHASE_NFT = 5

# 余额不足时提醒
DEF_BALANCE_USDG_MIN = 20

FILENAME_LOG = 'run.log'

# 遇到异常发钉钉消息，如果没有，置空，则不发钉钉消息
DEF_DING_TOKEN = 'da53a62778bcf0152a8c2806e1d5e3fc944fbd450'  # noqa

############################################################
# PROXY: ClashX -> Proxy
DEF_AUTO_PROXY = True

# 记录每天的 PROXY 使用情况
DEF_PATH_DATA_PROXY = 'datas/proxy'

# 主显示器的宽度和高度
DEF_SCREEN_WIDTH = 1512
DEF_SCREEN_HEIGHT = 982

# Proxy 每个选项的高度
DEF_HEIGHT_ITEM = 22

# ClashX 图标的位置
DEF_ICON_XY = [1122, 22]
# proxy 菜单位置
DEF_PROXY_XY = [1122, 90]
# Proxy 列表中第一个选项的 [X, Y]
DEF_START_XY = [800, 288]

# Proxy 列表
DEF_PROXY_LIST = [
    'Australia-AU-1',
    'Australia-AU-2',
    'Australia-AU-3',
    'Australia-AU-4'
]
############################################################
